.input-form {
    margin-bottom: 2rem;
    @include centered();

    label {
        // @include centered();
    }

    input {
        background-color: transparent;
        font-size: 1em;
        border: none;
        border-bottom: 2px solid #5fff38;
        padding-left: 10px;
        text-transform: capitalize;
        margin: 1rem auto 2rem;

        &:focus {
            outline: none;
        }
    }

    button {
        &:disabled {
            opacity: 0.3;
        }
    }

}